body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: rgb(226, 221, 221);
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h2 {
    color: #ff69b4;
}

.add-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Reduzido para mobile */
}

 input[type="text"] {
     width: 100%; /* Alterado para ocupar toda a largura */
     max-width: 500px; /* Adicionado para evitar que fique muito largo em telas grandes */
     padding: 15px;
     border-radius: 6px;
     border: 1px solid #ddd;
     margin-bottom: 10px; /* Adicionado espaço inferior para separar dos botões */
     margin-top: 10px;
 }

 input[type="date"] {
    width: 100%; /* Alterado para ocupar toda a largura */
    width: 150px; /* Adicionado para evitar que fique muito largo em telas grandes */
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-bottom: 10px; /* Adicionado espaço inferior para separar dos botões */
    margin-top: 10px;
}

 button {
     background-color: #ff69b4;
     color: #fff;
     padding: 12px 12px;
     border: none;
     border-radius: 6px;
     cursor: pointer;
     margin-left: 5px; /* Adicionado espaçamento entre os botões */
 }

button.remove-btn {
    background-color: #646363;
    margin-right: -200px;
    display:flex-col;
}

div {
    list-style-type: none;
    padding: 0;
    display: flex-col;
    justify-content: space-between;
}

li {
    padding: 3px 0px;
    background-color: #f9f9f9;
    border-radius: 6px;
    margin-bottom: 1rem;
}

div.button-add  {
display: flex;
background-color: red;
width: 40px;
}

.task-item.done {
    text-decoration: line-through;
}

/* Media query para dispositivos com largura até 600px (dispositivos móveis) */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    input[type="text"] {
        max-width: none; /* Removido o limite máximo */
    }

    .add-task-container {
        margin-bottom: 10px; /* Reduzido ainda mais para dispositivos móveis */
    }
}

